.popup {
    position: relative;
}

.menu {
    overflow: hidden;
    border: 1px solid var(--accent-redesigned);
    border-radius: 18px;
}

.active {
    background: var(--light-bg-redesigned);
}

.optionsTopLeft {
    right: 0;
    bottom: 100%;
}

.optionsBottomLeft {
    right: 0;
    top: 100%;
}

.optionsTopRight {
    left: 0;
    bottom: 100%;
}

.optionsBottomRight {
    left: 0;
    top: 100%;
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.trigger {
    margin: 0;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.selected {
    position: relative;
    background: var(--light-bg-redesigned);

    &::before {
        content: "✔";
        position: absolute;
        right: 3%;
        top: 50%;
        transform: translateY(-50%);
    }
}
