.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
}

.mainLink {
    margin-right: 20px;
}

.links {
    margin-left: auto;
}

.appName {
    margin-left: 15px;
    width: var(--sidebar-width);
}
