.modal {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    pointer-events: none;
    inset: 0;
}

.content {
    z-index: var(--modal-z-index);
    border-radius: 12px;
    padding: 20px;
    max-width: 60%;
    background: var(--bg-color);
    transform: scale(0.5);
    transition: 0.3s transform;
}

.opened {
    z-index: var(--modal-z-index);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}
